@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
    font-family: Inter;
    --primary: #23539b;
}

body {
    margin: 0;
}

.titleScreen {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

main {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: 800;
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
}

span {
    color: var(--primary);
}

a, button {
    background: var(--primary);
    color: white;
    font-family: Inter;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 100px;
}

.signedIn, .signedOut {
    display: none;
}