@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
    font-family: Inter;
    --primary: #23539b;
}

body {
    margin: 0;
}

a {
    color: var(--primary);
    text-decoration: none;
}

.titleScreen {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

main {
    margin: 0 auto;
}

.signedIn, .signedOut {
    display: none;
}